.socialContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.socialItem {
    display: flex;
    margin: 0 0 10px 0;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 1rem;
    list-style-type: none;
}

.socialContainer a {
    text-decoration: none;
    color: var(--color-text-dark);
}

.socialContainer a:hover {
    text-shadow: 2px 2px 5px var(--color-gray);
}