:root {
  --color-white: rgb(255, 255, 255);
  --color-gray: #e6dad1;
  --color-text-dark: #000000;
  --color-orange: #ff9355;
  --color-red: rgb(243, 102, 102);
}


html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--color-text-dark);
}

.aboutme {
  text-align: center;
  padding: 20px;
}