@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --color-white: rgb(255, 255, 255);
  --color-gray: #e6d9d1;
  --color-gray-2: #faf5f3;
  --color-gray-3: #f7f7f7;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
  --color-orange: #ffac7b;
  --color-red: rgb(243, 102, 102);
  --color-light-blue: rgb(237, 248, 255);
  --color-dark-gray: rgb(46, 46, 46);
  --color-dark-gray-2: rgb(24, 24, 24);
  --color-green: #cdee7f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--color-text-dark);
  scroll-behavior: smooth;
}


/* Projects */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
  gap: 20px;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding:0;
  gap: 10px;
}

.single-project {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 15px;
  background-color: var(--color-gray-2);
  color: var(--color-text-dark);
  border: 2px solid var(--color-text-dark);
  box-shadow: 5px 5px var(--color-gray), -5px -5px var(--color-dark-gray);
  max-width: 1000px;
}

.project-title {
  color: var(--color-dark-gray);
  text-decoration: underline;
  cursor: pointer;
}

/* Buttons */

button, .btn {
  background-color: var(--color-text-dark);
  border: none;
  color: var(--color-gray);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
  transition: ease 0.3s;
}

.select {
    background-color: var(--color-text-dark);
    color: var(--color-orange);
    box-shadow: 3px 3px 3px var(--color-orange);
}

button:hover, .btn:hover {
  filter: brightness(80%);
  transition: ease 0.3s;
}

button:disabled,
button[disabled]{
  filter: brightness(50%);
  cursor: not-allowed;
  transition: ease 0.3s;
}
/* Project page */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px 20px 50px 20px;
  max-width: 800px;
  overflow: hidden;
}

.project-container img {
  width: 100%;
}

.project-container p, .project-container ul, .project-container ol {
  width: 100%;
}
.project-container :not(pre) code {
  font-size: 1rem;
  background-color: var(--color-gray-3);
  color: var(--color-text-dark);
  padding: 5px;
  border-radius: 5px;
}

.project-container pre {
  width: 100%;
}

.project-container pre code {
  display: block;
  background: none;
  white-space: pre;
  font-size: 0.8rem;
  background-color: var(--color-dark-gray-2);
  color: var(--color-text-light);
  padding: 10px;
  
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
}

.project-container li {
  padding: 5px 0;
}

.item1 {
  text-align: center;
}

.contentCard-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Project Images */
.images-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--color-text-dark);
  width: 100%;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.single-image {
  margin: 0;
  padding: 0;
  transition: ease 0.3s;
}

.main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  margin: 0;
  color: var(--color-text-light);
  text-align: center;
}

.main-image p {
  color: var(--color-gray);
  padding: 0 30px;
}

.single-image img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 20px;
  border: 3px solid var(--color-dark-gray-2);
  box-shadow: 2px 2px 5px var(--color-dark-gray-2);
}

.image-button {
  filter: brightness(0.8);
  padding: 0;
  margin: 0;
  border-radius: 20px;
}
.image-button:hover {
  filter: brightness(1);
  transition: ease 0.3s;
}

@media only screen and (max-width: 420px) {
  .main-image, .single-image img{
    width: 350px;
    height: 250px;
  }
}

/* Display */
.display-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100hv;
  background-color: #000000da;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.close-display {
  position: absolute;
  top: 20px;
  right: 20px;
}

.previous {
  position: absolute;
  top: 50vh;
  left: 20px;
}

.next {
  position: absolute;
  top: 50vh;
  right: 20px;
}

.display-image {
  width: 90%;
  height: 100vh;
  object-fit: contain;
  margin: auto;
  padding: auto;
}

.img-description {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-text-light);
  background-color: rgba(22, 22, 22, 0.877);
}

/* Boxes & Containers */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color:#28232a;
  background-image: url('/error.png');
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}

.something-wrong {
  font-size: 2rem;
  background-color: var(--color-text-dark);
  padding: 20px 50px;
  color: var(--color-gray);
  border-radius: 20px;
  margin: 10px;
}

.box-404 {
  font-size: 8rem;
  background-color: var(--color-text-dark);
  padding: 20px 50px;
  color: var(--color-gray);
  border-radius: 20px;
}
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color:#1A161A;
  background-image: url('/404-notfound.png');
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  color: var(--color-gray);
}

.not-found p, .error-container p {
  background-color: var(--color-text-dark);
  padding: 20px 50px;
  color: var(--color-gray);
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
}

.little-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.little-container-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 200px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}


.form-container input, .form-container textarea {
  width: 70%;
  max-width: 1000px;
  font-family: inherit;
  font-size: 0.8rem;
  color: inherit;
  outline: none;
  border: 1px solid var(--color-text-dark);
  border-radius: 10px;
  padding: 10px 10px;
  opacity: 50%;
  transition: ease 0.3s;
  background-color: var(--color-gray-2);
}

.form-container input:focus, .form-container textarea:focus {
  opacity: 100%;
  transition: ease 0.3s;
}
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 100px auto;
  margin-bottom: 50px;
  font-size: 1.5rem;
  padding: 0 30px;
}

.little-link a {
  color: var(--color-text-dark);
  text-decoration: none;
  border-bottom: 1px dashed black;
}

/* Tech cards */

.techCard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}
.tech-card img {
  object-fit: contain;
}

/* Utilities */

.text-sm {
  font-size: 0.85rem;
}

.push-left {
  margin: 0;
  margin-left: auto;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-text-dark);
}

.green {
  background-color: var(--color-green);
}

.red {
  background-color: var(--color-red);
}
/* Loader */

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 0;
  transition: ease 0.3s;
}

.loader {
  border: 20px solid var(--color-text-light);
  border-top: 20px solid var(--color-dark-gray);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  
}

/* fade-in */

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}